
<b>Auth0 Code Challenge</b>
<p>
  This demo app demonstrates:
</p>
<ul>
  <li>
    Use of Auth0 Single Page Application scenario, OAuth2 Implicit flow
  </li>
  <li>
     Sign in with either an email/password or Google
  </li>
  <li>
      Use of scopes for authorization (read:menu , create:orders)
  </li>
  <li>
     Use of Auth0 rules to enrich user profile and id token.
  </li>
  <li>
    Use of Google People API to fetch the total number of Google connections a
    user has and store the count in user profile.
  </li>
  <li>
    Tech Stack : Angular6, Asp.Net Core WebApi backend.  A node.js backend is also added in source code.
    Hosted on AWS and S3.
  </li>    
</ul>
<p>Really enjoyed the code challenge, had a few glitches along the way..  
  Please find the source code below. <br/>
Happy coding,<br/>
    Burak Iskender</p>
<a
  href="https://github.com/burakiskender/pizza42"
  target="_blank">
  Source Code
</a><br/>
<a href="https://github.com/burakiskender" target="_blank"> Github Profile</a><br/>
<a href="https://www.linkedin.com/in/burak-iskender/" target="_blank"> LinkedIn</a>
